Websocket handshake response should not include Content-Length header

According to RFC 7230 Section 3.3.2: "A server MUST NOT send a Content-Length header field in any response with a status code of 1xx (Informational)".

The 101 Switching Protocols response, returned when initiating a websocket connection, currently includes a Content-Length of 0. 

Although this is harmless with most websocket clients, it causes the .NET websocket client (System.Net.WebSockets.ClientWebSocket) to terminate the connection after about 100 seconds. 

For a thorough discussion of this issue as encountered in another project see: 
https://github.com/ably/ably-dotnet/issues/107
https://stackoverflow.com/questions/40502921/net-websockets-forcibly-closed-despite-keep-alive-and-activity-on-the-connectio


I can confirm that this change has fixed the issue I was seeing. Thanks very much for the quick fix =)